.form__container {
    opacity: 1;
    transform: none;

    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.--active {
    display: flex;
}

.form__modal {
    display: flex;
    flex-direction: column;

    z-index: 1;

    padding: 50px;
    margin: auto;
    gap: 30px;

    border: 2px solid var(--black);
    border-radius: 10px;

    background-color: var(--white);
}

.form__title { 
    font-weight: 600;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
}

.form__input { 
    margin: 10px 0;
    height: 50px;
    outline: 0;

    font-size: 1.3rem;
    padding: 0 10px;

    background: transparent;
    color: var(--black);

    border: 0;
    border-bottom: 2px solid var(--black);
}

.form__input::placeholder {
    color: var(--black);
}

.form__button {
    margin: 10px auto 0 auto;
    padding: 0;
    width: 300px;
    height: 50px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: transparent;
    color: var(--black);

    font-size: 1.2rem;
    font-weight: 600;

    border: 2px solid var(--black);
    border-radius: 10px;

    transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
    background-color: var(--black);
    color: var(--white);
}

.form__link {
    font-size: 1.2rem;
    font-weight: 400;

    color: var(--black);
    transition: font-size 0.1s ease-in;
}

.form__link:hover {
    font-size: 1.4rem;
}

.form__button:last-child {
    margin: 0 auto;
}